html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    text-align: justify;
    
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #1D3557; 
    overflow-x: hidden; 
}
  
  /* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1em;
    color: #F1FAEE;
    display: block;
}
  
  /* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    background-color: #E63946;
}
  
  /* Style page content */
.main {
    margin-left: 160px;
    padding: 0px 10px;
}

nav {
    margin: 0px 3px;
}

header {
    font-size: 1.3em;
    color: #F1FAEE;
    background-color: #E63946;
    padding: 5px 15px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    border-radius: 5px;
    margin-top: 5px;
}



i.fas {
    float: none;
    color: #1D3557;
    padding-top: 5px;
    font-size: 35px;
}

#sub-header-icon {
    float: right;
    color: #1D3557;
    font-size: 22px;

}

#header-top {
    font-size: 1.5em;
    padding: 10px 10px;
    text-align: center;
    border-radius: 0px;
} 

ul {
    padding: 5px 5px;
    list-style-type: none;
}

.li-main-section {
    list-style-type: square;
    margin: 0px 15px;
    font-size: 0.9em;
}


pre,
code {
    font-family: monospace, sans-serif;
    font-size: 0.9em;
    background-color: #F1FAEE;
    display: inline-block;
    padding: 0px 3px;
  }

img {
    border-style: none;
  }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; 
  font-size: 100%; 
  line-height: 1.15; 
  margin: 0;
  overflow: auto;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }

h3 {
    color: #1D3557;
    background-color: #A8DADC;
    font-size: 1em;
    display: inline-block;
    border-radius: 5px;
    width: 30%;
    padding: 5px 0px 5px 15px;
}

blockquote {
    width: auto;
    color: #1D3557;
    font-style: italic;
    padding: 5px 5px;
    font-size: 0.9em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    border: 1px dotted #1D3557;
    border-radius: 2px;
} 

footer {
    background-color: #1D3557;
    color: #A8DADC;
    font-size: 0.6em;
    text-align: center;
    width: 100%;
    padding: 5px 5px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-width: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 0.7em;}
    .sidenav a {width: 120px;}
}

